.block1 {
    background: rgb(236, 236, 236);
    background: linear-gradient(360deg, rgba(236, 236, 236, 1) 0%, rgba(203, 203, 203, 1) 100%);
}

.block2 {
    background-color: #2F4F4F;
}

.block3 {
    background-color: #F7F7F7;
}

.block4 {
    background: rgb(255, 123, 64);
    background: linear-gradient(90deg, rgba(255, 123, 64, 1) 0%, rgba(241, 188, 79, 1) 88%);
}

.block4:hover {
    background: rgb(255, 99, 64);
    background: linear-gradient(90deg, rgba(255, 99, 64, 1) 0%, rgba(241, 175, 42, 1) 88%);
}

.block5 {
    background: rgb(255, 123, 64);
    background: linear-gradient(90deg, rgba(255, 123, 64, 1) 0%, rgba(241, 188, 79, 1) 88%);
    border-top: 2px dashed #FFFFFF; /* Параметры границы */
}

.block6 {
    background: rgb(255, 123, 64);
    background: linear-gradient(90deg, rgba(255, 123, 64, 1) 0%, rgba(241, 188, 79, 1) 88%);
    border-top: 2px dashed #FFFFFF; /* Параметры границы */
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.block7 {
    display: none;
}

.input {
    width: 300px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;
}

.box {
    display: none
}

.tarif1{
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
}
.tarif2{

}
.tarif3{
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

