/* ============= 1. IMPORT GOOGLE FONT ============= */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

/* ============= 2. HEADER AREA ============= */
header {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 4;
}

#navigation {
    padding: 0 15px;
}

.navbar {
    border-radius: 0;
    margin: 0;
    padding-top: 30px;
    -webkit-transition: all 0.7s ease 0s;
    transition: all 0.5s ease 0s;
}

.navbar.navbar-fixed-top {
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(left, #6b78b6 0%, #b69fc9 100%) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #6b78b6 0%, #b69fc9 100%) repeat scroll 0 0;
    box-shadow: 0 0 20px -10px #000;
    padding: 0;
}

.navbar-brand {
    padding: 19px 0;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0;
}

.navbar-brand > img {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
}

.navbar-fixed-top .navbar-brand > img {
    width: 85%;
}

.navbar-nav li a {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 20px;
    transition: all 0.3s ease 0s;
}

.nav > li > a:focus, .nav > li > a:hover, .nav > .active > a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    opacity: 0.6;
}

.navbar-nav li a.download-btn {
    border: 1px solid #fff;
    border-radius: 4px;
    margin-top: 10px;
    margin-left: 20px;
    padding: 8px 30px;
    transition: .3s;
}

.navbar-nav li a.download-btn:hover {
    background: #f75160 none repeat scroll 0 0;
    border-color: #f75160;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    opacity: 1;
}

/* ============= 3. SLIDER AREA ============= */
/* Блок со статистикой сервиса*/
.bg-2 {
    background: linear-gradient(-45deg, #f2a14a, #EE7752, #E73C7E, #e7008a);
    background-size: 300% 300%;
    -webkit-animation: Gradient 20s ease infinite;
    -moz-animation: Gradient 20s ease infinite;
    animation: Gradient 20s ease infinite;

    z-index: 1;
    position: relative;
    color: #fff;
}

.hero-area {
    /*background-image: url(img/slider/1.png);
    background-size: cover;
    background-position: center center;*/

    /* начало градиента*/
    background: linear-gradient(-45deg, #f2a14a, #EE7752, #E73C7E, #e7008a);
    background-size: 300% 300%;
    -webkit-animation: Gradient 20s ease infinite;
    -moz-animation: Gradient 20s ease infinite;
    animation: Gradient 20s ease infinite;

    height: 100vh;
    z-index: 1;
    position: relative;
    color: #fff;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

/* конец градиента*/

.parallax {
    background-attachment: fixed;
}

.slider {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit- flex;
    display: -moz- flex;
    display: -ms- flex;
    display: -o- flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
}

.slider h1 {
    color: #FFF;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.slider p {
    color: #fff;
    font-size: 18px;
    margin: 0 0 35px;
    padding-right: 28%;
}

.slider-thumb {
    position: absolute;
    bottom: 0;
    right: 0%;
    z-index: 3;
}

.hero-btn {
    background: #ff5f6d none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 50px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.1);
}

.hero-btn:hover, .about-content > .hero-btn:hover {
    background-color: #f75160;
    color: #fff;
    text-decoration: none;
}

.hero-text p.he-p {
    padding: 0 22%;
    line-height: 30px;
}

/* Slider Nav */
.background-area .owl-nav div {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid rgba(255, 255, 255, 0.4);
    color: #ffffff;
    font-size: 38px;
    height: 50px;
    left: -56px;
    line-height: 45px;
    margin-top: -25px;
    position: absolute;
    text-align: center;
    top: 50%;
    transition: all 0.4s ease 0s;
    width: 50px;
    z-index: 999;
}

.background-area .owl-nav .owl-next {
    left: auto;
    right: -56px;
}

.background-area:hover .owl-nav div {
    left: 10px;
}

.background-area:hover .owl-nav .owl-next {
    left: auto;
    right: 10px;
}

.background-area .owl-nav div:hover {
    background: rgba(255, 255, 255, 0.4) none repeat scroll 0 0;
}


.slide-animation {
    left: -15px;
    position: absolute;
    z-index: -9;
}

/* ============= 5. ABOUT AREA ============= */
.about-content > h2 {
    margin-bottom: 35px;
}

.about-content > p {
    margin: 0 0 25px;
}

img.lazy {
    width: 700px;
    height: 467px;
    display: block;
}

.about-content > .hero-btn {
    background: #ff5f6d none repeat scroll 0 0;
    border-radius: 4px;
    box-shadow: 0 0 20px 0 rgba(255, 95, 109, 0.4);
    -webkit-box-shadow: 0 0 20px 0 rgba(255, 95, 109, 0.4);
    -moz-box-shadow: 0 0 20px 0 rgba(255, 95, 109, 0.4);
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 40px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    margin-top: 25px;
}

.about-content > .hero-btn i {
    margin-right: 5px;
}

/* ============= 6. SECTION HEADDING STYLE ============= */
.section-heading {
    margin: 0 auto;
    width: 48%;
}

.section-heading h2 {
    margin-bottom: 24px;
    position: relative;
    text-transform: capitalize;
    line-height: 1.2;
}

.section-heading p {
    margin-bottom: 10px;
}


/* ============= 9. FUN FACT AREA ============= */
.single-fact h5 {
    color: #fff;
    font-weight: 600;
    margin-bottom: 0px;
    font-size: 20px;
}

.single-fact h2 {
    color: #fff;
    font-size: 40px;
    margin-bottom: 15px;
    line-height: 35px;
}

/* ============= 11. PRICING AREA ============= */
.pricing-single {
    border-radius: 10px;
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.1);
    padding-top: 65px;
    transition: all 0.4s ease 0s;
}

.price-titel h4 {
    letter-spacing: 2px;
}

.pricing-price > span {
    color: #3e3e3e;
    display: block;
    font-size: 50px;
    font-weight: 300;
    padding: 20px 0 22px;
}

.price-decs ul li {
    color: #999999;
    display: block;
    font-size: 16px;
    line-height: 38px;
}

.ordr-btn > a {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.1);
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    padding: 24px 45px;
    transition: all 0.4s ease 0s;
}

.ordr-btn.uppercase > a:hover {
    opacity: 0.5;
}

.price-decs {
    padding-bottom: 40px;
}

.pricing-single:hover, .pricing-single.active {
    background: #ff5f6d;
    color: #fff;
}

.pricing-single:hover .pricing-price > span, .pricing-single:hover .price-decs ul li, .pricing-single:hover .price-titel h4 {
    color: #fff;
}

.pricing-single.active .pricing-price > span, .pricing-single.active .price-decs ul li, .pricing-single.active .price-titel h4 {
    color: #fff;
}

.pricing-single:hover .ordr-btn > a, .pricing-single.active .ordr-btn > a {
    background: #ff5f6d;
    color: #fff;
    display: block;
}

/* ============= 21. ScrollUp ============= */
#scrollUp {
    background: #b67e8d none repeat scroll 0 0;
    border-radius: 0px;
    bottom: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    color: #fff;
    font-size: 28px;
    height: 40px;
    line-height: 35px;
    position: fixed;
    right: 15px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 40px;
    z-index: 200;
}

#scrollUp:hover {
    background: #3e3e3e;
}

.headerText{
    font-size: 11px;
    color: #ffffff;
}